.login-form {

    .section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.login-form-inner {

    .login-form-content {
        width: 50%;
        margin: 0 25%;
    }
}