<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Axe Renderer</title>
    <link href='http://fonts.font.im/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./assets/index.css">
    <script src="./assets/slider.js"></script>
    <script src='renderer/config.js'></script>
    <!-- 引入所有用到的文件 -->
    <script src='renderer/gua_object.js'></script>
    <script src='renderer/utils.js'></script>
    <script src='renderer/vector.js'></script>
    <script src='renderer/color.js'></script>
    <script src='renderer/canvas.js'></script>
    <script src='renderer/vertex.js'></script>
    <script src='renderer/matrix.js'></script>
    <script src='renderer/axemesh.js'></script>
    <script src='renderer/axe_model.js'></script>
    <script src='renderer/chest_image.js'></script>
    <script src='renderer/chest3d.js'></script>
    <script src='renderer/illidan_image.js'></script>
    <script src='renderer/illidan_mesh.js'></script>
    <script src='axe3d/illidan/illidan_gua3d.js'></script>
    <script src='axe3d/ball4_gua3d.js'></script>
    <script src='axe3d/ball10_gua3d.js'></script>
    <script src='axe3d/ball100_gua3d.js'></script>
</head>

<body>
    <div class="container">
        <div class="workspace">
            <div class="header">
                <h1><i>AXE RENDERER</i></h1>
            </div>
            <div class="work">
                <div class="config"></div>
                <canvas id="id-canvas" width="800" height="600"></canvas>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>

</html>